body {
  background-color: hsl(47, 88%, 63%);
}
.card {
  background-color: white;
  width: 200px;
  padding: 10px;
  border-radius: 20px;
  margin: 50px;
}
.img {
  width: 100%;
  border-radius: 20px;
  margin-bottom: 10px;
}
button {
  background-color: hsl(47, 88%, 63%);
}
